<h4>Hi {{name}}!</h4>

<p>Welcome to Project Aiur.</p>

<p>Click <a href="{{client_url}}/auth/password/{{user_id}}?token={{token}}"><b>here</b></a> to set a password and log in.</p>

<p>For security reasons our password reset links has expiration period. The current link will be valid in the next {{duration}} minutes. We apologise for any inconvenience that cause you, but we try to apply the best cyber security practices to protect our users information and generated content.</p>

<p>We're glad to have you join us!</p>

<p>Cheers,<br>
The Project Aiur team
</p>
